$primaryblue: #092854;
$secondaryblue: #154b8b;
$darkgrey: #8f8f97;
$lightgrey: #d0d0d0;
$white: #fff;
$black: #000;
$lightBlue: #817cff;
$activeBGcolor: #bde2fc;

$checkedBGcolor: #443afe;
$purpleborderColor: #9791cf;
$backgroundLightGrey: #f8f9fe;

$purpleStepColor: #9b98ff;

$confirmButton: #493dff;
$confirmButtonHover: #938cff;

$mobilebackgroundColor: #ecf3fd;