.image-container {
    display: grid;
    place-items: center;
    position: relative;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: 35px;
}

@media screen and (max-width: 420px) {
    .steps {
        flex-direction: row;
        top: 0;
        left: auto;
        gap: 1rem;
        
    }

    .image-container {
        display: flex;
        justify-content: center;
        

        height: fit-content;        
        img {
            content: url('../../assets/images/bg-sidebar-mobile.svg');
        }
    }
}

